@import 'tailwindcss';

:root {
    font-family: 'Inter', sans-serif;
    --color-primary: #6A5CFF;
    --gradient-1:#fff7ff ;
    --gradient-2: #fceef9;
    --gradient-3: #f9edfc;
    --gradient-4: #e7dcff;
    --gradient-5: #f3EEff;
    --text-secondary: #6B7280;
    --features-card-bg: #FAF7FF;
}